html {
  cursor: url(/images/html_cursor.png) 1 1, pointer;
}

body {
  font-family: "Roboto Mono", monospace;
  width: 400px; 
  height: 1300px;
  background: linear-gradient( #e66465, #838be9);
  color: white;
}

.hero {
  padding: 10px;
  border: 5px #91e5c2;
}

a {
  cursor: url(/images/link_cursor.png) 1 1, pointer
}

img {
  cursor: url(/images/image_cursor.png) 1 1, pointer;
}