html {
    cursor: url(/images/html_cursor.png) 1 1, pointer;
  }
  
  body {
    font-family: "Roboto Mono", monospace;
    width: 400px; 
    height: 1300px;
    background: linear-gradient( #d764e6, #86e983);
    color: white;
  }
    
  a {
    cursor: url(/images/link_cursor.png) 1 1, pointer
  }
  
  img {
    cursor: url(/images/image_cursor.png) 1 1, pointer;
  }